*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3D087B;
}

.container{
    display: flex;
    justify-content: center;
    height: auto;
    width: 98.5vw;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px
}

/* left container */

.leftContainer{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 100px;
}


.clockLogo{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.timingBox{
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

/* Timing Box */

select{
    width: 55%;
    border-radius: 6px;
    padding-left: 10px;
    font-family: Manrope;
    color: #3D087B;
    font-size: 12px;
}

p{
    padding-top: 6px;
    color: #3D087B;
    font-family: Manrope,regular;
    font-size: 15px;
    /* width: 100%; */
}

.wakeUp{
    display:flex;
    justify-content: space-between;
}

.lunch{
    display:flex;
    justify-content: space-between;
}

.nap{
    display:flex;
    justify-content: space-between;
}

.night{
    display:flex;
    justify-content: space-between;
}

.leftMsgBox{
    grid-row: 5 / 6;
    grid-column: 1 /3;
    color: white;
    text-align: center;
    padding: 25px 0px;
    background-color: #9140B5;
    border-radius: 10px;
    font-family: 'Righteous', cursive;
    font-size: x-large;
}

.button{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #6E54EC,#FC5EFF 75%);
    color: white;
    font-size: medium;
    letter-spacing: 1.1px;
}

.textBox{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    color: #F25CFE;
    font-family: Manrope;
    text-align: left;
    font-size: 12px;
    background-color: #9140B5;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}



/* Right Container */

.rightContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}

.clock{
    height: 100px;
    width: 100%;
    /* padding: 0px 20px; */
}

.top{
    display: flex;
    padding-left: 20px;
    gap: 15px;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    border-radius: 10px;
}

h2{
    color: #8A11BF;
    font-family: 'Barlow', sans-serif;
}

.top span{
    color: #8A11BF;
    font-family: 'Barlow', sans-serif;
    font-size: larger;
}

.time{
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    color: #8A11BF;
}

.hours{
    height: 70px;
    width: 60px;
    padding: 10px 5px;
    border-radius: 5px;
    color: #8A11BF;
    background-image: url(./timeline.svg);
}

.minutes{
    height: 70px;
    width: 60px;
    padding: 10px 5px;
    border-radius: 5px;
    color: #8A11BF;
    background-image: url(./timeline.svg);
}

.seconds{
    height: 70px;
    width: 60px;
    padding: 10px 5px;
    border-radius: 5px;
    color: #8A11BF;
    background-image: url(./timeline.svg);
}

.session{
    height: 70px;
    width: 60px;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    background-image: url(./AM_svg.svg);
}

.a,.b,.c{
    text-align: center;
    padding-left: 5px;
}

.c{
    padding: 8px;
    font-size: 30px;
    color: white;
}

.rightMsgBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 15px;
    color: #8E53F0;
    background-color: white;
    padding: 25px 15px;
    text-align: center;
    font-size: medium;
    font-family: 'Righteous', cursive;
    font-size: x-large;
}

.image{
    height: 300px;
    width: 460px;
}

/* mobile resposive */
@media screen and (min-width:300px) and (max-width:400px) {

    .container{
        flex-direction: column;
    }

    .leftContainer{
        padding-left: 0px;
    }

    .rightContainer{
        padding-right: 0px;
    }

    .image{
        position: absolute;
        top: 730px;
        width: 300px;
    }

    .clock{
        position: absolute;
        top: 120px;   
    }

    .rightMsgBox{
        position: absolute;
        top: 240px;
    }

    .timingBox{
        position: absolute;
        top: 350px;
        width: 97%;
    }

    .leftMsgBox{
        position: absolute;
        top: 550px;
    }

    .button{
        position: absolute;
        top: 650px;
    }

    .textBox{
        position: absolute;
        top: 700px;
    }
}

/* tab responsive */
@media screen and (min-width:550px) and (max-width:900px){
    
    .container{
        flex-direction: column;
    }

    .leftContainer{
        padding-left: 0px;
    }

    .rightContainer{
        padding-right: 0px;
    }

    .image{
        position: absolute;
        top: 730px;
        width: 300px;
    }

    .clock{
        position: absolute;
        top: 120px;   
    }

    .rightMsgBox{
        position: absolute;
        top: 240px;
    }

    .timingBox{
        position: absolute;
        top: 350px;
        width: 97%;
    }

    .leftMsgBox{
        position: absolute;
        top: 550px;
    }

    .button{
        position: absolute;
        top: 650px;
    }

    .textBox{
        position: absolute;
        top: 700px;
    }
}